
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

h2 {
  margin-top: 30px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

/* Contenedor de filtros */
.filter-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.clear-button {
  width: 100%;
}

/* Lista de restaurantes */
.restaurant-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.restaurant-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .filter-container > div {
    display: flex;
    align-items: center;
  }

  .filter-container > div select {
    width: 20%; /* Select ocupa el 20% */
    margin-right: 5px; /* Espacio a la derecha del select */
  }

  .filter-container > div input {
    flex-grow: 1; /* Input ocupa el resto del espacio */
    margin-left: 5px; /* Espacio a la izquierda del input */
  }

  .clear-button {
    margin-top: 0.5rem; /* Botón debajo */
  }

  .restaurant-item {
    flex-direction: row; /* Asegura que los elementos estén en una fila */
    justify-content: space-between;
    padding: 10px;
  }

  .restaurant-item .restaurant-info p {
    display: none !important; /* Oculta la descripción y otros párrafos */
  }

  .restaurant-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }

  .restaurant-rating {
    flex-shrink: 0; /* Mantiene el rating visible y alineado */
    font-size: 1rem;
  }

  .restaurant-logo {
    width: 50px; /* Ajusta el tamaño de la imagen */
    height: 50px;
  }
}
